  <div class="col">
    <div class="card m-3" data-id="{{this.id}}">
      <div class="card-body p-4">
        <h5 class="card-title border-bottom">{{this.title}}</h5>
        <p class="card-text">{{this.content}}</p>
        <p class="card-text"><small class="text-body-secondary"> Posted by: {{user.username}} on {{ formatDate this.createdAt}} </small></p>
      </div>
    </div>
  </div>